@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');

:root {
  --bg-color: white;
  
  /* TYPEWRITER */

  --typewrSpeed: 4s;
  /* if h1 changes... you must change also this */
  --typewrCharacters: 12;
  --typewrDelay: 1s;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'IBM Plex Mono', monospace;
}

h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  margin-bottom: 1.5em;
  position: relative;
}

.subtitle {
  color: hsl(0 0% 0% / 0.7); /* gray */
  font-size: clamp(0.8rem, 2vw + 0.8rem, 2.5rem);
  font-weight: 400;
  transform: translateY(3rem);
  opacity: 0;
  animation: fadeInUp 2s 
  calc(calc(var(--typewrSpeed) + var(--typewrDelay)) + 750ms) 
  ease forwards;
}

h1::before,
h1::after {
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewrSpeed) steps(var(--typewrCharacters)) var(--typewrDelay) forwards;
}

h1::after {
  background: black;
  width: .125em;
  animation: 
  typewriter var(--typewrSpeed) steps(var(--typewrCharacters)) var(--typewrDelay) forwards, 
  blinkingCaret 800ms steps(var(--typewrCharacters)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blinkingCaret {
  to {
    background-color: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}